p{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* Here more than one font name is given so as to apply the second if first isn't available in your system. first font is main font rest are called fallback fonts*/
    font-family: "Baloo Bhai 2", sans-serif;
    /* font-style: italic; */
    /* talic - The text is shown in italics. oblique - The text is "leaning" (oblique is very similar to italic, but less supported) */
    font-weight: 500;
    /* text-decoration: overline; */
    line-height: 1.5;
    letter-spacing: 2;
}
h1{
    font-family: "Jacquard 12", system-ui;
    text-decoration: underline;
    font-size:80px;
}
h2{
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: rgb(72, 0, 255);
    text-decoration-style: solid;
    text-decoration-thickness:7px ;
    text-align: center;
    /* text-indent: 45px;  */

}
/* whenever we give a font family we must make sure that we add a generic font among the fallback fonts so that even if the user doesn't have our font,it will still open in the generic font style without a problem */
.lorem{
    border: 2px solid red;
    width: 150px;
    word-break:break-all ;
    /* text-overflow: ellipsis;
    overflow: scroll; */
}